<form action="/recordlabels" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Add a new Record Label:</p>

  <label for="name">Record Label Name:</label>
  <input type='text' name='name'/><br/>

  <label for="major">Check if a Major Label:</label>
  <input type="checkbox" name="major" id="major"><br/>


  <label for="tours">Number of Launched Tours:</label>
  <input type="number" name="tours" id="tours" ><br/>

<label for="genre">Genre Focus:</label>
  <select name="genre" id="genre">
    <option value="R&B">R&B</option>
    <option value="Hip-Hop">Hip-Hop</option>
    <option value="Country">Country</option>
    <option value="Punk Rock">Punk Rock</option>
  </select><br/>

  <input type='submit' value="Add New Record Label"/>
</form>